# To get these values, log into myUofC, then click green "Search for classes"
# button at the topright. Failing that, go to the add/drop/swap section of
# PeopleSoft, then click on the Search tab. (It's next to the Enroll and My
# Academics tabs.)
#
# Alternatively, you can try incrementing past values. They're not perfectly
# linear -- e.g., spring 2014 is 2143, while summer 2014 is 2145 -- but they're
# close.
terms = {
  'F2013': 2137,
  'S2014': 2145,
}

query_sections = {
  'user1@example.org': [
    {
      'subject_name': 'MATH',
      'course_name': 211,
      'sections': ['02-LEC', 'B15-LAB'],
      'term': terms['F2013'],
    }, {
      'subject_name': 'MDSC',
      'course_name': '408B',
      'sections': 'all',
      'term': terms['F2013'],
    },
  ],

  'user2@example.org': [
    {
      'subject_name': 'STAT',
      'course_name': 327,
      'sections': 'all',
      'term': terms['F2013'],
    },
  ],
}

# Time between each individual query. Thus, if you have three queries, each
# script iteration will take total_query_time + 3*seconds_between_checks.
seconds_between_checks = 3*60

email_host = 'smtp.gmail.com'
email_port = 587
email_username = 'admin@example.org'
email_password = 'password'
email_from_name = 'Classy'
email_from_addr = 'admin@example.org'
