# To get these values, go to https://prdrps2.ehs.ucalgary.ca/psauthent/class-search/public.

# Alternatively, log into myUofC, then click green "Search for classes"
# button at the topright. Failing that, go to the add/drop/swap section of
# PeopleSoft, then click on the Search tab. (It's next to the Enroll and My
# Academics tabs.)
#
# As yet another alternative, you can try incrementing past values. They're not
# perfectly linear -- e.g., spring 2014 is 2143, while summer 2014 is 2145 --
# but they're close.
terms = {
  'F2013': 2137,
  'S2014': 2145,
  'F2014': 2147,
  'W2015', 2151,
}

# List of users and courses to check for each. The 'sections' value may be
# 'all', indicating the user wants notifications for *any* open sessions, or it
# may be a list of specific sections of interest.
#
# Note that if the multiple users specify the same course, it will be checked
# separately for each. If Classy were used for many users, this should be fixed
# such that it will perform only a single query in such a case.
#
# Additionally, if *any* sections are found open in a course, the course will
# be removed from the list to check for that user, such that no other sections
# will be checked until the script is restarted. This is a limitation I never
# bothered to fix.
query_sections = {
  'user1@example.org': [
    {
      'subject_name': 'MATH',
      'course_name': 211,
      'sections': ['02-LEC', 'B15-LAB'],
      'term': terms['F2013'],
    }, {
      'subject_name': 'MDSC',
      'course_name': '408B',
      'sections': 'all',
      'term': terms['F2013'],
    },
  ],

  'user2@example.org': [
    {
      'subject_name': 'STAT',
      'course_name': 327,
      'sections': 'all',
      'term': terms['F2013'],
    },
  ],
}

# Time between each individual query. Thus, if you have three queries, each
# script iteration will take total_query_time + 3*seconds_between_checks.
seconds_between_checks = 3*60

# These values specify the account from which notification e-mails will be
# sent. If you have a Gmail account, simply change username, password,
# from_name, and from_addr. One can, of course, use any e-mail server that
# supports SMTP, but depending on the server's configuration, you may have to
# alter the send_email() function in classy.py (e.g., by removing the
# starttls() call if your host doesn't use TLS).
email_host = 'smtp.gmail.com'
email_port = 587
email_username = 'admin@example.org'
email_password = 'password'
email_from_name = 'Classy'
email_from_addr = 'admin@example.org'
